<div *ngIf="selectedHero != null">
    <h2>{{selectedHero.name}} Details</h2>
    <div>
        <span>Id:</span> {{selectedHero.id}}
    </div>
    <div>
        <label>
            Nombre
            <input [(ngModel)]="selectedHero.name" placeholder="Nombre..."/>
        </label>
    </div>
</div>

<div *ngIf="selectedHero == null">
    Ningún Héroe ha sido seleccionado
</div>

<ul class="heroes" *ngIf="arrHeroes != null">
    <li *ngFor = "let objHeroe of arrHeroes"
        (click)="onSelect(objHeroe)"
        [class.selected]="objHeroe === selectedHero">

       <span class="badge">
           {{objHeroe.id}}
       </span>
       {{objHeroe.name}}
    </li>
</ul>
<img *ngIf="arrHeroes == null" src="https://media1.tenor.com/images/779781883952778b25974baa3cf7679c/tenor.gif?itemid=7991979"/>


<app-hero-detail [objHeroe]="selectedHero"></app-hero-detail>