/* todos los elementos con id 'unparrafo' */
#unparrafo{
   color: blue;
   font-size: 20px;
}
/* todos los elemento con clas 'vparrafos' */
.vparrafos{
    color: peru;
    font-size: 30px;
}

.otraclase{
    color: blue;    
}
/* todos los elementos hijos de section en cualquier nivel*/
/* que tengan la clase 'otraclase' */
section .otraclase{
    color: crimson;
}
/* todos los elementos 'span' que sean hijos en cualquier */
/* nivel de los elementos que tengan la clase 'otraclase' */
.otraclase span{
    color: violet;
}

div.otraclase {
    color: green;
}

#miseccion{
    border: 1px solid red;
}
/* Todos los parrados que tengan el atributo 'name' */
p[name]{
    color: chocolate;
}
/* Todos los parrafos que tengan el atributo 'name' con valor
'parrafo1'
 */
p[name="parrafo1"]{
    color: darkblue;
}

/* pseudoclases */
/* nth-child(#) aplica el estilo al elemento que ocupa
la posición dada entre todos sus similares */
/* La cuenta inicia en 1 */
#tabla1 tr:nth-child(1){
    color: maroon;
    font-size: 25px;
}
/* tr:nth-child(2){
    color: violet;
    font-size: 25px;
} */
/* odd => impares */
#tabla2 tr:nth-child(odd){
    background-color: gray;
}
/* even => pares */
#tabla2 tr:nth-child(even){
    background-color: wheat;
}
/* todos los 'tr' hijos de #tabla3 en un mismo nivel impares */
#tabla3 tr:nth-child(odd){
    background-color: yellowgreen;
}
/* todos los div, excepto los que tengan
la clase 'otraclase' */
div:not(.otraclase){
    font-size: 40px;
}
