<h1>Login</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <form>
      <input type="text"
              placeholder="Ingrese su nombre..."
              class="form-control mb-4"
              [(ngModel)]="nombre"
              name="nombre">

      <button type="button" 
              class="btn btn-block btn-primary"
              (click)="login()">
        Ingresar a la salita )
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <button class="btn btn-block btn-primary" (click)="signInWithFB()">
      <i class="fa fa-facebook fa-2x"></i> Facebook
    </button>
    <button class="btn btn-block btn-danger" (click)="signInWithGoogle()">
        <i class="fa fa-google fa-2x"></i> Google
      </button>
  </div>
</div>