.naranja{
    color: orange;
}
.texto-grande{
    font-size: 1.3rem;
}
.linea-naranja{
    width:100%;
    background-color: orange;
    height: 3px;
}
.media i {
    color: #343A49;
}
.imagen:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 8px gray;
}
.imagen{
    transition: 0.5s;
}
.imagen img{
    border-radius: 2px;
}
