.cajapadre {
    width: 100%;
    border: 1px solid tomato;
    margin-top: 200px;
    position: relative;
}

#caja-1 {
    position: absolute;
    /* transform: translate(-50%, 0); */
    left: 20px;
    bottom: 0px;
    width: 140px;
    height: 50px;
    margin: 5px;
    float: left;
    background-color: #ccc;
    /* z-index => estable el valor de profundidad de unelemento */
    /* si usamos z-index, el elemento debe estar posicionado */
    z-index: 100;
}

#caja-2 {
    width: 140px;
    height: 50px;
    margin: 5px;
    float: left;
    position: relative;
    background-color: #aaa;
    z-index: 150;
}

#caja-3 {
    width: 140px;
    height: 50px;
    margin: 5px;
    float: right;
    background-color: #ccc;
}

#caja-4 {
    width: 140px;
    height: 50px;
    margin: 5px;
    float: right;
    background-color: #aaa;
}

.clear {
    clear: both;
}

#fijar {
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid tomato;
}

main {
    margin-top: 50px;
}

nav {
    height: 40px;
    box-sizing: border-box;
}