.app-sidenav-container{
    flex: 1;
    height: 100%;
    min-height: 100%;
    position: fixed;
    width: 100%;
    min-width: 100%;
}

.app-sidenav{
    width: 240px;
    
}

.wrapper{
    margin: 50px;
}

.app-sidenav-content{
    display: flex;
    height: 100%;
    flex-direction: column;
}