<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!pantallaSmall()"
    [mode]="pantallaSmall() ? 'over' : 'side'">

    <mat-toolbar color="primary">
      MENU
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <a matLine [routerLink]="[ '/logged']">Dashboard</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine [routerLink]="[ '/logged/playas']">Playas</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <!-- contenido del sidenav -->
  <div class="app-sidenav-content">
    <app-toolbar (emisor)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- fin de contenido del sidenav -->
</mat-sidenav-container>