/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
html, body {
    margin:0;
}
.my-toolbar {
    position: sticky;
    top: 0;
    z-index: 4000;
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
}
.container {
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(61, 60, 60);
  }