*{
    margin:0;
    padding:0;
}
body{
    background-image: url('./img/textura.jpg');
}
header{
    margin-top: 15px;
    /* top right bottom left */
    /* (top y bottom) y (right y left) */
    padding: 10px 20px 30px 40px;
    border: 1px solid red;
}
h1{
    border: 1px solid blue;
    padding: 5px 15px;
}
main{
    border: 1px solid green;
    width: 700px;
    height: 700px;
    color: red;
    /* repeat-x | repeat-y | no-repeat | repeat(defecto) */
    /* 
    background-repeat: repeat-x;
    background-color: rgba(0, 122, 204, 0.5);
    background-image: url('http://placehold.it/300x300');
    */
    /* resumen de background */

    background: rgba(0, 122, 204, 0.5) url('http://placehold.it/300x300') repeat-x;

}